body {
    background-color: indigo;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.container {
    border: 2px solid white;
    border-radius: 20px;
    padding: 28px 20px 30px 20px;
    position: absolute;
}

.weather-section {
    display: flex;
    flex-direction: row;
}

img {
    width: 25px;
    height: 25px;
    padding: 17px 0 0 10px;
}

.current-weather {
    margin-top: 0;
}
  
.event {
    background-color: whitesmoke;
    color: black;
    padding: 5px 0 5px 15px;
    margin-top: 10px;
    border-radius: 10px;
}
  
a {
    color: whitesmoke;
    margin-right: 10px;
}
  
#weather {
    font-style: italic;
    font-weight: lighter;
}
  
.notifications {
    color: #62d76b;
}